img {
margin: 0 auto;
}

body {
	height: 100%;
	background-image: url('bg.jpg');
}

footer {
	background-color: #fff;
	text-align: center;
}
.row {
	margin:0;
}

button {
height: 70px;
font-size: 25px!important;
text-transform: uppercase;
}